* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f4f4;
  margin: auto 30px;
  padding: 10px 15px;
}

h3 {
  font-size: 19px;
  font-weight: 500;
  line-height: 17.6px;
  margin: 15px 0px 16px;
}

h1 {
  font-size: 24px;
  color: rgb(216, 4, 4);
}

h2 {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
}

.summary-box {
  background: white;
  border: 1px solid #69c;
  padding: 1px 15px 10px;
  margin-bottom: 30px;
}

.summary-kanji {
  font-size: 16px;
  color: red;
}

.summary-hiragana {
  font-size: 13px;
}

.summary-vietnamese {
  font-size: 16px;
  color: #3367d6;
}

.dictionary-box {
  background: white;
  border: 1px solid rgb(218, 218, 218);
  padding: 1px 15px 10px;
  margin-bottom: 30px;
}

.pronounce {
  color: #868686;
}

.volume-image {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
}

.pronounce-text {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.verb-type {
  color: #d22f0f;
  font-size: 16px;
  font-weight: 200;
}

.definition-text {
  color: #3367d6;
  font-size: 18px;
  font-weight: 400;
  line-height: 0;
}

.feedback-text {
  font-size: 19px;
  font-weight: 300;
}

.feedback-container {
  padding: 20px;
}

.like-dislike-box div,
span {
  display: inline-block;
}

.feedback-image {
  vertical-align: middle;
  height: 1em;
}

.feedback-name {
  float: right;
}
